<img src= "https://cdn.bulbagarden.net/upload/8/88/Mission_Guides.png"/>

In [10]:
import os
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix

import plotly.express as px
import plotly.graph_objects as go

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [1]:
pokedex = pd.read_csv('./sample_data/pokedex_(Update_05.20).csv').drop('Unnamed: 0', axis = 1)

columns_to_drop = ['german_name', 'japanese_name']
pokedex = pokedex.drop(columns_to_drop, axis = 1)

NameError: name 'pd' is not defined

In [47]:
pokedex[['name', 'status', 'total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']]

,name,status,total_points,hp,attack,defense,sp_attack,sp_defense,speed
0,Bulbasaur,Normal,318.0,45.0,49.0,49.0,65.0,65.0,45.0
1,Ivysaur,Normal,405.0,60.0,62.0,63.0,80.0,80.0,60.0
2,Venusaur,Normal,525.0,80.0,82.0,83.0,100.0,100.0,80.0
3,Mega Venusaur,Normal,625.0,80.0,100.0,123.0,122.0,120.0,80.0
4,Charmander,Normal,309.0,39.0,52.0,43.0,60.0,50.0,65.0
...,...,...,...,...,...,...,...,...,...
1023,Zacian Hero of Many Battles,Legendary,670.0,92.0,130.0,115.0,80.0,115.0,138.0
1024,Zamazenta Crowned Shield,Legendary,720.0,92.0,130.0,145.0,80.0,145.0,128.0
1025,Zamazenta Hero of Many Battles,Legendary,670.0,92.0,130.0,115.0,80.0,115.0,138.0
1026,Eternatus,Legendary,690.0,140.0,85.0,95.0,145.0,95.0,130.0
1027,Eternatus Eternamax,Legendary,1125.0,255.0,115.0,250.0,125.0,250.0,130.0

# Probemos los modelos...

![img](https://img.pokemondb.net/artwork/melmetal.jpg)

In [38]:
test = np.array([[580.0,90.0,85.0,100.0,95.0,125.0,85.0]])

<img src="https://images.gameinfo.io/pokemon/256/493-11.png" weidth="400"/>

In [39]:
test2 = np.array([[720.0,120.0,120.0,120.0,120.0,120.0,120.0]])

## Â¿SerÃ¡ legendario Melmetal.... y quÃ© tal Arceus?

## Â¿SerÃ¡?

# Ejercicio

En esta secciÃ³n deberÃ¡n realizar un nuevo dataframe, pero considerando las siguientes caracterÃ­sticas (ojo!, ya no son sÃ³lo de tipo normal y legendario...)

In [212]:
pokedex.status.unique()

array(['Normal', 'Sub Legendary', 'Legendary', 'Mythical'], dtype=object)

El objetivo ahora serÃ¡ realizar intercambio de la variable categÃ³rica "Status" por una nueva que le asigne un nÃºmero en lugar de texto

In [9]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()

lb_make.fit(pokedex['status'])
pokedex['labeles_status'] = lb_make.transform(pokedex['status'])

         status  labeles_status
0        Normal               2
1        Normal               2
2        Normal               2
3        Normal               2
4        Normal               2
...         ...             ...
1023  Legendary               0
1024  Legendary               0
1025  Legendary               0
1026  Legendary               0
1027  Legendary               0

[1028 rows x 2 columns]

Posteriormente, deberÃ¡n hacer el procedimiento "normal" para los siguientes algoritmos
* Regresion LogÃ­stica
* SVM (con kernel rbf - Gaussiano o radial)
* Decision Tree
* Random Forest

In [48]:
column_filter = ['total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense', 'speed']
scaler = StandardScaler()

X = pokedex[column_filter]
y = pokedex['labeled_status']

(trainX, testX, trainY, testY) = train_test_split(X, y, random_state=3, test_size=0.25)

In [49]:
regression_model = make_pipeline(scaler, LogisticRegression())

regression_model.fit(trainX, trainY)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('logisticregression',
                 LogisticRegression(C=1.0, class_weight=None, dual=False,
                                    fit_intercept=True, intercept_scaling=1,
                                    l1_ratio=None, max_iter=100,
                                    multi_class='auto', n_jobs=None,
                                    penalty='l2', random_state=None,
                                    solver='lbfgs', tol=0.0001, verbose=0,
                                    warm_start=False))],
         verbose=False)

In [50]:
forest_model = make_pipeline(scaler, RandomForestClassifier(max_depth=2))

forest_model.fit(trainX, trainY)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('randomforestclassifier',
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=2, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=None,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [51]:
tree_model = make_pipeline(scaler, DecisionTreeClassifier())

tree_model.fit(trainX, trainY)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('decisiontreeclassifier',
                 DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                        criterion='gini', max_depth=None,
                                        max_features=None, max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        presort='deprecated', random_state=None,
                                        splitter='best'))],
         verbose=False)

In [52]:
svc_model = make_pipeline(scaler, SVC(kernel='linear'))

svc_model.fit(trainX, trainY)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('svc',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='linear', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

## Â¿CuÃ¡l de los algoritmos podrÃ¡ decir cual es el tipo correcto de los dos pokemon?

### Impriman los Accuracy de la siguiente manera para cada modelo

In [53]:
pd.DataFrame({"Modelo":["LogisticRegression", "RandomForest", "DecisionTree", "SVC"], 
              "Accurancy on Train":[regression_model.score(trainX, trainY), forest_model.score(trainX, trainY), tree_model.score(trainX, trainY), svc_model.score(trainX, trainY)],
              "Accurancy on Test":[regression_model.score(testX, testY), forest_model.score(testX, testY), tree_model.score(testX, testY), svc_model.score(testX, testY)]})

               Modelo  Accurancy on Train  Accurancy on Test
0  LogisticRegression            0.914397           0.926070
1        RandomForest            0.911803           0.914397
2        DecisionTree            1.000000           0.953307
3                 SVC            0.915694           0.922179

### Probemos ahora los modelos!

In [54]:
concated_test = np.vstack((test, test2))
concated_test

array([[580.,  90.,  85., 100.,  95., 125.,  85.],
       [720., 120., 120., 120., 120., 120., 120.]])

In [55]:
reg_y = regression_model.predict(concated_test)
forest_y = forest_model.predict(concated_test)
tree_y = tree_model.predict(concated_test)
svc_y = svc_model.predict(concated_test)

In [59]:
pokedex['status'].unique()

array(['Normal', 'Sub Legendary', 'Legendary', 'Mythical'], dtype=object)

In [61]:
pokedex['labeles_status'].unique()

array([2, 3, 0, 1])

In [58]:
pd.DataFrame({"Modelo":["LogisticRegression", "RandomForest", "DecisionTree", "SVC"], 
              "Melmetal":[reg_y[0], forest_y[0], tree_y[0], svc_y[0]],
              "Arceus":[reg_y[1], forest_y[1], tree_y[1], svc_y[1]]})

               Modelo  Melmetal  Arceus
0  LogisticRegression         2       0
1        RandomForest         2       0
2        DecisionTree         3       1
3                 SVC         2       0

### Â¿Alguno mejora si aplicamos CV?

Si, los conjuntos de datos de pokemones miticos, legendarios y sublegendarios tienen pocos datos y el cross validation le da una capa extra de validacion.

In [ ]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=5, shuffle=True, random_state=123)
i = 1

# Recordemos que estamos ante un problema de desbalance de clases muy intenso!

               count      mean       std  min  25%  50%  75%  max
status
Legendary       39.0  5.128205  2.202624  1.0  3.0  5.0  7.0  8.0
Mythical        29.0  4.724138  1.623412  1.0  4.0  5.0  6.0  7.0
Normal         915.0  3.925683  2.242163  1.0  2.0  4.0  5.0  8.0
Sub Legendary   45.0  4.844444  1.999495  1.0  3.0  5.0  7.0  7.0